body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.form-group{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

}
.form-group1{
    padding-bottom: 10px;
    gap: 10px;
}

h2{
    margin: 10px 300px;
}
.form{
    margin: 0 300px;
    border: 1px solid black;
    padding: 20px 30px;
}
.form-control{
    height: 20px;
    width: 300px;
}
.form-control1{
    height: 27px;
    width: 308px;
}
.textarea{
    width: 915px;
}